<!DOCTYPE html>
<html ng-app="fideliApp">
<head>
	<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
<script type="text/javascript" src="../public/javascripts/fideliapp.js"></script>	
</head>
<body ng-controller="MainController as mainCtrl">
Hola soy {{mainCtrl.title}}
<div ng-repeat="user in users.mainCtrl">
{{user.name}}
{{user.surname}}
</div>

<form action="/users" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">First name:<br><input type="text" name="name" value=""><br>Surname:<br><input type="text" name="surname" value=""><br><input type="submit" value="Submit"></form>
<form action="/users" method="GET" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
	<input type="submit" value="Get!">
</form>

</body>
</html>