<!DOCTYPE html>
<html ng-app="fideliApp">
<head>
	<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
<script type="text/javascript" src="../public/javascripts/fideliapp.js"></script>
	
</head>
<body ng-controller="MainController as mainCtrl">
#{titulin}
Hola soy {{mainCtrl.title}}
<div ng-repeat="user in mainCtrl.users">
{{user.name}}
{{user.surname}}
</div>
<a href="/auth/facebook">Login con Facebook</a>
<a href="/logout">Log out</a>
<a href="" ng-click="">Send Email</a>

<form action="/users" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
		First name:<br>
		<input type="text" name="name" value=""><br>
		Surname:<br>
		<input type="text" name="surname" value=""><br>
		<input type="submit" value="Submit">
</form>

<h1>Acceso</h1>
<form action="/login" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
		Email:<br>
		<input type="text" name="username" placeholder="@"><br>
		Password:<br>
		<input type="text" name="password" value=""><br>
		<input type="submit" value="Log In">
</form>

<h1>Registro</h1>
<form action="/register" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
		Nombre:<br>
		<input type="text" name="name" value=""><br>
		Email:<br>
		<input type="text" name="username" placeholder="@"><br>
		Password:<br>
		<input type="text" name="password" value=""><br>
		<input type="submit" value="Log In">
</form>

</br>
<h1>Mensaje</h1>
<form action="/email" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
		Email:<br>
		<input type="text" name="email" placeholder="@"><br>
		Mensaje:<br>
		<input type="text" name="message" value=""><br>
		<input type="submit" value="Enviar">
</form>

<form action="/users" method="GET" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
	<input type="submit" value="Get!">
</form>

</body>
</html>